// RS Base - Sierra Lib
@import "node_modules/sierra-library/src/scss/utils/_mixins.scss";
@import "_variables.light";
@import "node_modules/sierra-library/src/scss/_helpers.scss";
@import "node_modules/sierra-library/src/scss/_typography.scss";
@import "node_modules/sierra-library/src/scss/_buttons.scss";
@import "node_modules/sierra-library/src/scss/_forms.scss";

@import "node_modules/basscss-typography/css/typography";
@import "node_modules/basscss-margin/css/margin";

// Cards
$card-background:     	$white;
$card-radius:         	0;
$card-border-color:		$border-color;
$card-radius: 			0;
$card-border-width: 	0;

// Colors
.brand-primary {
	color: $brand-primary;
}

.white-bg { background-color: $white; }
.gray-bg { background-color: $gray; }

// Misc
:root a:hover {
	text-decoration: none;
}

.text-shadow {
	text-shadow: 1px 1px 1px map-get($text-color-map, gray);
}

.border-brand-primary {
	border-color: $brand-primary;
}

.radius-4 {
	border-radius: 4px;
}