/*
 * Style guide: https://github.com/airbnb/css
 * https://gist.github.com/raisiqueira/e672c4c8702689fc51c5e391715be662
 */

$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*----------------
    RS Base
------------------*/
@import "rsbase";

body {
  background-color: $body-bg;
  color: $text-gray;
}

/*----------------
    Header
------------------*/
.rs-navbar {
  position: fixed;
  background-color: $brand-primary;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;

    &-home {
      background: transparent;
      box-shadow: none;

      .rs-logo { padding: 23px 0; }
    }

}

.rs-menu-wrap { padding: 25px 0; }

.rs-logo {
  padding: 30px 0;

  img {
    margin-left: 15px;
    max-height: 60px;
    display: inline-block;
  }
}

.rs-navbar-pages {
  position: fixed;
  background-color: $brand-primary;
  color: $white;
  width: 100%;
  top: 0;
  z-index: 99999;

  a:hover { color: $gray-light; }
}

/* Headroom js */
.headroom {
  transition: transform .3s ease;

    &--pinned {
      transform: translateY(0%);
    }

    &--unpinned {
      transform: translateY(-100%);
    }
}

// Menu
.rs-menu-wrap {
  position: relative !important;
}

.navbar {
  font-size: 21px;

  a { color: $white; }
}

// Menu Bootstrap
.navbar-default {
  background-color: transparent;
  border: 0;

  .navbar-nav {

    & > li {

      a {
        color: $white;

        &:hover {
          color: darken($brand-primary, 20%);
        }

      }
    }

    & > .active {

      a {
        background-color: transparent;
        color: $white;

        &:hover {
          background-color: transparent;
          color: darken($brand-primary, 20%);
        }
      }
    }
  }
}

.rs-menu {
  font-weight: 500;
  text-align: right;
}

/*----------------
    Home Site
------------------*/

// parallax
.intro-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: table;
  z-index: -1;

   &:before {
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: rgba(0,0,0,.3);
       z-index: 1;
    }

  .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/posto/home-posto.jpg') center center no-repeat;
    background-size: cover;
  }

  .header-content {
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    z-index: 2;
  }

}


// Mid Parallax
.mid-parallax {
    background: 70% no-repeat;
    background-position: top;
    background-size: 100%;
    height: 50%;
    position: relative;
    z-index: 1;

  &-content {
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.4rem;

    h1 {
        font-size: 5rem;
        font-weight: bold;
    }

    h3 {
        margin: 15% 0;
        color: #eeeeee;
        text-shadow: 4px 3px 0 #1d9d74,9px 8px 0 rgba(0,0,0,0.15);
    }
  }
}

// Content Site
.content {
  height: auto;
  padding: 50px;
  background: $white;
  margin-top: 100vh;
}

// Content Site
.content-mid {
  height: auto;
  padding: 50px;
  background: $white;
}

// Cards Hotel

.cards {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

  .cards_item {
    display: flex;
    .no-flexbox & { float: left; }

    margin-top: 0;
    padding: 0 1em 2em;

    // > 640px, 2 items/row
    @media screen and (min-width: 42em) and ( max-width: 60em ) {
      width: 50%;
      .no-flexbox &:nth-child(2n+1) { clear: both; }
    }

    // > 960px, 3 items/row
    @media screen and (min-width: 60em) {
      width: 33.3333%;
      .no-flexbox &:nth-child(3n+1) { clear: both; }
    }

  }

    .card {
      display: flex;
      flex-direction: column;

      background-color: $card-background;
      @include bordered($card-border-color, $card-border-color, $card-border-color, $card-border-color);
    }

      .card_image {
        img {
          width: 100%;
          border-top-left-radius: ( $card-radius - $card-border-width );
          border-top-right-radius: ( $card-radius - $card-border-width );
        }
      }

      .card_content {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;

        margin-top: 0;
        padding: 1.5em;

        p {
          flex: 1 0 auto;
        }

      }

// Services

.rs-services-col {
  padding: 0 20px;
  margin-top: 60px;

  & .fa {
    font-size: 72px;
    transition: all .35s ease;
  }
}

// Footer site

footer.site-footer {
  padding: 20px 10px;
  background-color: $brand-primary;
  color: $white;

  a {
    color: darken($brand-secondary, 10%);
  }
}